/* start global */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{

}
.container{
    width: 1200px;
    margin: auto;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0
}
/* end global */

/* start navbar */

.navbar{
    font-size: 18px;
    height: 0;
    color: #fff;
    position: relative;
    z-index: 2;
}
.navbar .brand{
    float: left;
    width: 50%;
    text-transform: uppercase;
    margin-top: 10px
}
.navbar .links{
    float: left;
    width: 50%;
    margin-top: 25px
}
.navbar .links li{
    display: inline-block;
    padding: 10px 0px;
    margin: 0 10px;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
}
.navbar .links li a{
    text-decoration: none;
    color: #fff
}
.navbar .links li.active,
.navbar .links li:hover{
    color: #19bc9c;
    border-bottom: 2px solid #19bc9c;
}
.navbar .links li a.active,
.navbar .links li a:hover{
    color: #19bc9c;
}
.header .bx-wrapper {
    box-shadow: none;
    border: 0;
    background: none;
    height: 100%  !important
}
.header .bx-wrapper .bx-viewport{
    height: 100% !important;
    text-align: center;
}
.header .slider{
    height: 100%;
}
.header .slider li{
    display: block; 
    color: #fff
}
.header .slider li h2{
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px
}
.header .slider li h2 span{
    color: #19bc9c
}

/* end navbar */

/* start header */

.header{
    background: url(../images/header3.jpg);
    position: relative;
}
.header .overlay{
    background-color: rgba(0, 0 , 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

/* end header */

/* start our services */
.services{
    padding: 80px 20px
}
.services h2{
    margin: 0 0 50px;
    text-transform: capitalize;
    font-weight: normal
}
.services .item{
    float: left;
    width: 33.33333%;
    margin-bottom: 20px
}
.services .item i{
    color: #19bc9c;
    float: left;
    width: 17%;
    margin-right: 8%;
    margin-top: 20px
}
.services .item .info{
    float: left;
    width: 70%
}
.services .item .info h3{
    font-weight: normal;
    color: #585353;
    text-transform: capitalize;
    margin-bottom: 10px
}
.services .item .info p{
    margin-top: 0;
    color: #888
}
/* start our team */

.our-team{
    padding: 40px 20px;
}
.our-team .box{
    float: left;
}
.our-team .box:first-child{
    width: 35%
} 
.our-team .box p{
    color: #888;
    line-height: 1.4;
    font-size: 15px
}
.our-team .box:not(:first-child){
    width: 15.25%;
    margin-left: 1%;
    position: relative;
    transition:all 1s ease-in-out
} 
.our-team .box:not(:first-child) .overlay{
    background-color:rgba(25, 188, 156, .9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 183px;
    text-transform: uppercase;
    display: none;
}
.our-team .box:not(:first-child):hover .overlay{
    display: block;
}
.our-team h2{
    text-transform: capitalize;
    font-weight: normal;
    padding: 0 0 15px
}
.our-team .box:not(:first-child) img{
    width: 100%
}

/* end our services */





/* start my framework */
.clearfix{
    clear: both 
}
.spcial-h{
    position: relative;
} 
.spcial-h::after{
    content: "";
    position: absolute;
    display: block;
    top: 40px;
    left: 0;
    width: 40px;
    border-bottom: 2px solid #333
}
.separator{
    border: 1px solid #ccc;

}
/* end my framework */
