/* start global */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: auto;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0
}
h2, h3, h4 {
    font-weight: normal
}
/* end global */

/* start navbar */

.navbar{
    font-size: 18px;
    height: 0;
    color: #fff;
    position: relative;
    z-index: 2;
}
.navbar .brand{
    float: left;
    width: 50%;
    text-transform: uppercase;
    margin-top: 10px
}
.navbar .links{
    float: left;
    width: 50%;
    margin-top: 25px
}
.navbar .links li{
    display: inline-block;
    padding: 10px 0px;
    margin: 0 10px;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
}
.navbar .links li a{
    text-decoration: none;
    color: #fff
}
.navbar .links li.active,
.navbar .links li:hover{
    color: #19bc9c;
    border-bottom: 2px solid #19bc9c;
}
.navbar .links li a.active,
.navbar .links li a:hover{
    color: #19bc9c;
}
.header .bx-wrapper {
    box-shadow: none;
    border: 0;
    background: none;
    height: 100%  !important
}
.header .bx-wrapper .bx-viewport{
    height: 100% !important;
    text-align: center;
}
.header .slider{
    height: 100%;
}
.header .slider li{
    display: block; 
    color: #fff
}
.header .slider li h2{
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: bold
}
.header .slider li h2 span{
    color: #19bc9c
}

/* end navbar */

/* start header */

.header{
    background: url(../images/header3.jpg);
    position: relative;
}
.header .overlay{
    background-color: rgba(0, 0 , 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

/* end header */

/* start our services */
.services{
    padding: 80px 20px
}
.services h2{
    margin: 0 0 50px;
    text-transform: capitalize;
}
.services .item{
    float: left;
    width: 33.33333%;
    margin-bottom: 20px
}
.services .item i{
    color: #19bc9c;
    float: left;
    width: 17%;
    margin-right: 8%;
    margin-top: 20px
}
.services .item .info{
    float: left;
    width: 70%
}
.services .item .info h3{
    color: #585353;
    text-transform: capitalize;
    margin-bottom: 10px
}
.services .item .info p{
    margin-top: 0;
    color: #888
}
/* start our team */

.our-team{
    padding: 40px 20px;
}
.our-team .box{
    float: left;
}
.our-team .box:first-child{
    width: 35%
} 
.our-team .box p{
    color: #888;
    line-height: 1.4;
    font-size: 15px
}
.our-team .box:not(:first-child){
    width: 15.25%;
    margin-left: 1%;
    position: relative;
    transition:all 1s ease-in-out
} 
.our-team .box:not(:first-child) .overlay{
    background-color:rgba(25, 188, 156, .9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 183px;
    text-transform: uppercase;
    display: none;
}
.our-team .box:not(:first-child):hover .overlay{
    display: block;
}
.our-team h2{
    text-transform: capitalize;
    padding: 0 0 15px
}
.our-team .box:not(:first-child) img{
    width: 100%
}

/* end our services */

/* start testimonials */
.test{
    background: url("../images/007.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;      
    position: relative;
    text-align: center;
    padding: 80px 0;
}
.test .t-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 , 0, 0.8);
    color: #fff
}
.test h2{
    text-transform: capitalize; 
    font-size: 40px;
    margin: 80px 0 10px;
}
.test q {
    font-size: 20px;
    line-height: 2;
    color: #d0d0d0;
    display: block;
    margin-top: 60px 
}
.test p {
    font-size: 30px;
    text-transform: capitalize;
    color: #19bc9c
}
.test .slider2 > div{
    display: none
}
.test .slider2 .active{
    display: block
}
/* end testimonials */

/* start our projects */
.our-projects{
    padding: 80px 0;
}
.our-projects h2{
    text-transform: capitalize
}
.our-projects ul{
    margin-top: 50px
}
.our-projects ul li{
    display: inline-block;
    border: 2px solid #d4cccc;
    padding: 10px;
    color: #a7a7a7;
    border-radius: 5px;
    text-transform: capitalize;
    margin-right: 5px
}
.our-projects ul li.selected {
   background-color: #19bc9c;
   color: #fff;  
}
.our-projects .gallary{
    margin-top: 50px;
    overflow: hidden;
}
.our-projects .gallary .raw > div:nth-child(2){
    margin-left: 1%;
    margin-right: 1%
}
.our-projects .gallary .raw > div {
    width: 32.6666666%;
    float: left;
    margin-bottom: 12px;
    position: relative;
}
.our-projects .gallary .raw > div img{
    width: 100%;
}
.our-projects .gallary .raw > div .over{
    background-color:rgba(25, 188, 156, .9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 230px;
    text-transform: uppercase;  
    display: none
}
.our-projects .gallary .raw > div .heart{
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 18px;
    color: #fff;
    display: none
}
.our-projects .gallary .raw > div:hover .over,
.our-projects .gallary .raw > div:hover .heart{
    display: block
}
.our-projects .shuffle li{
    cursor: pointer;
}
/* end our projects */

/* start footer */
.footer{
    background-color: #232323;
    color: #6c6c6c;
    padding: 40px 0;
    overflow: hidden
}
.footer .col{
    width: 25%;
    float: left;
}
.footer .col h2 {
    color: #fff;
    text-transform: capitalize
}
.footer .col p {
    margin-bottom: 20px;
    line-height: 1.6;
}
.footer .col i {
    display: inline-block;
    width: 40px;
    padding: 10px 0;
    color: #ccc
}
.footer .tags span {
    display: inline-block;
    padding: 10px;
    border: 1px solid #797979;
    margin-bottom: 10px;
    margin-right: 10px;
    text-transform: capitalize;
    color: #ccc
}
.footer .recent div {
    overflow: hidden;
    margin-bottom: 15px
}
.footer .recent div img {
    float: left;
    margin-right: 10px
}
.footer .recent div h4 {
    margin: 8px 0;
    color: #ccc;
}
.footer .blog ul li {
    padding: 15px;
    color: #ccc;
    border-bottom: 1px solid #979797;
    text-transform: capitalize
}
.footer .copyright {
    margin-top: 30px;
    text-transform: capitalize
}

/* end footer */
/* start my framework */
.clearfix{
    clear: both 
}
.spcial-h{
    position: relative;
} 
.spcial-h::after{
    content: "";
    position: absolute;
    display: block;
    top: 40px;
    left: 0;
    width: 40px;
    border-bottom: 2px solid #333
}
.separator{
    border: 1px solid #ccc;

}
/* end my framework */
